---
import Base from '../layouts/Base.astro';
---

<Base title="Not found | Cantare">
  <h1>Page not found</h1>
  <p>
    This song seems to have ended. Try the <a href="/">search</a> or <a href="/songs/"
      >browse all songs</a
    >.
  </p>
</Base>
