---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';

const songs = (await getCollection('songs')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

<Base title="Cantare">
  <h1>Songs</h1>
  <ul>
    {
      songs.map((song) => (
        <li>
          <a href={`/songs/${song.id}/`}>{song.data.title}</a> — {song.data.artist}
        </li>
      ))
    }
  </ul>
</Base>
