---
import { getCollection } from 'astro:content';

const songs = (await getCollection('songs')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cantare</title>
  </head>
  <body>
    <h1>Cantare</h1>
    <ul>
      {
        songs.map((song) => (
          <li>
            {song.data.title} — {song.data.artist}
          </li>
        ))
      }
    </ul>
  </body>
</html>
